modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8099 pnpm --filter @workspace/api-server run dev"
waitForPort = 8099

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/zenkatu run dev"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_FORMSPREE_FORM_ID = "${FORMSPREE_FORM_ID}"
VITE_FIREBASE_API_KEY = "AIzaSyD291ixE_JUNvdhejJDr5wet5p-IXxCQhI"
VITE_FIREBASE_AUTH_DOMAIN = "zenkatu-9f14b.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "zenkatu-9f14b"
VITE_FIREBASE_STORAGE_BUCKET = "zenkatu-9f14b.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "1036801490015"
VITE_FIREBASE_APP_ID = "1:1036801490015:web:d4b047aa4ccf74f024afea"
VITE_FIREBASE_MEASUREMENT_ID = "G-ZB7X6GBBWR"
PORT = "8080"
VAPID_PUBLIC_KEY = "BDcpgwLcLJ6wtvtEL1hMWdE2g-kwRi6ZWcdvAghgXc-1TUk6o5ZFvEyaGHqDpMrLDp4KnUSmFyE_oLt5woTeCTM"
VAPID_PRIVATE_KEY = "28kw1gbCTHrmQvMU7AqIcJh8cOm5TY4fiK4KqJy-jyU"
VAPID_EMAIL = "mailto:admin@zenkatu.com"
SUPABASE_DATABASE_URL = "postgresql://postgres.uaggmlgoyhqmzlycfpyo:M4ur1c18m1m2@aws-1-sa-east-1.pooler.supabase.com:6543/postgres"

[nix]
channel = "stable-25_05"
